<div class="row">
    <div class="col-1 bg-primary text-left text-white p-2">
        Covid-19 Component - Service Demo
    </div>
    <div class="col-11">
        <app-covid19-table></app-covid19-table>
    </div>
</div>

<div class="row">
    <div class="col-12">
       ========================================================================================================================================================================================================
    </div>
</div>

<div class="row">
    <div class="col-1 bg-primary text-left text-white p-2">
        Product Component - Communication Demo
    </div>
    <div class="col-11">
        <app-product></app-product>
    </div>
</div>


